*{
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: gainsboro;
}
.container{
    max-width: 350px;
    margin: auto;
    border: 2px solid red;
    border-radius: 20px;
    height: 80vh;
    margin-top: 4.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
}
.image{
    height: 60%;
    margin: 6px;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}
.image>img{
    height: 100%;
    width: 100%;
    border-radius: 20px;
}
.comment{
    height: 40%;
    display: flex;
    flex-direction: column;
    margin: 6px;
    justify-content: space-around;
    box-sizing: 20px;
    background-color: white;
}
.comment>h2{
    text-align: center;
    font-variant: small-caps;
    background-color: whitesmoke;
}
.comment>p{
    text-transform: capitalize;
    text-align: center;
    background-color: whitesmoke;
}